[% root = 'http://vb-dev.bio.ic.ac.uk:3030/' 
   root_static = 'http://vb-dev.bio.ic.ac.uk:3030/'
   vb_root = 'http://www.vectorbase.org/'
   json_root = 'http://vb-dev.bio.ic.ac.uk:3030/REST/'
   development_environment = 1
%]
